<div class="container shadow rounded p-5" style="margin-top: 8rem;">
    <h1 class="display-3 text-center">CRUD com Java SpringBoot & Angular</h1>
    <p class="mt-5 fs-4 text-center">Um CRUD (Create, Read, Update, Delete) desenvolvido com Java Spring Boot e Angular
        envolve a
        criação de um sistema completo onde o front-end em Angular se comunica com o back-end em Java Spring Boot para
        gerenciar dados de forma eficiente. O banco de dados utilizado é o JPA com H2, que permite uma integração
        simples e rápida, sendo ideal para desenvolvimento e testes.</p>
</div>