<div *ngIf="client">

    <div class="display-6">
        Formulário de Cadastro:
    </div>
    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">

            <form [formGroup]="formGroupClient" #ngFormClient="ngForm">

                <div *ngIf="client.id" class="row mb-3 mt-3">
                    <label for="inputId" class="col-sm-2 col-form-label">Id:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="id" id="inputId" formControlName="id">
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label for="inputName" class="col-sm-2 col-form-label">Nome:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="inputName" formControlName="name">
                        <div *ngIf="ngFormClient.submitted">
                            <small *ngIf="pfgName?.errors?.['required']" class="form-text text-danger">*Nome é
                                requirido!</small>
                            <small *ngIf="pfgName?.errors?.['minlength']" class="form-text text-danger">*Tamanho mínimo
                                de 5 caracteres!</small>
                        </div>
                    </div>

                </div>

                <div class="row mb-3 mt-3">
                    <label for="inputSalary" class="col-sm-2 col-form-label">Salário:</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" name="salary" id="inputSalary"
                            formControlName="salary">
                        <div *ngIf="ngFormClient.submitted">
                            <small *ngIf="pfgSalary?.errors?.['min']" class="text-danger">*Salário é maior que
                                zero</small>
                            <small *ngIf="pfgSalary?.errors?.['required']" class="text-danger">*Salário é
                                requerido</small>
                        </div>
                    </div>
                    <label for="inputBonus" class="col-sm-2 col-form-label">Bônus:</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" name="bonus" id="inputBonus" formControlName="bonus">
                        <div *ngIf="ngFormClient.submitted">
                            <small *ngIf="pfgBonus?.errors?.['min']" class="text-danger">*Bônus não pode ser
                                negativo</small>
                            <small *ngIf="pfgBonus?.errors?.['max']" class="text-danger">*Bônus não pode ser maior que
                                100</small>
                            <small *ngIf="pfgBonus?.errors?.['required']" class="text-danger">*Bônus é
                                requerido</small>
                        </div>
                    </div>

                </div>

                <div class="row mb-3 mt-3">
                    <div class="d-flex">
                        <label class="col-sm-2 col-form-label">Gênero:</label>
                        <div class="container">
                            <div class="form-check">

                                <input class="form-check-input" type="radio" value="1" id="masculino"
                                    formControlName="gender">
                                <label class="form-check-label" for="masculino">
                                    Masculino
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="2" formControlName="gender"
                                    id="feminino">
                                <label class="form-check-label" for="feminino">
                                    Feminino
                                </label>
                            </div>

                            <div *ngIf="ngFormClient.submitted">
                                <small *ngIf="pfgGender?.errors?.['required']" class="text-danger">*Gênero é
                                    requerido</small>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row mb-3 mt-3">
                    <div class="col-sm-4">
                        <button type="submit" (click)="save()" class="btn btn-outline-success me-1">Salvar</button>
                        <button type="button" (click)="cancel()" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>